<div class="app-wrapper">
  <div class="group-config">
    <div class="question-container">
      <div class="f" style="margin-right: 3vw;">
        <img src="/images/logo.svg">
      </div>

      <div class="f" style="flex-grow: 1;">
        <h1>World Cup Brackets</h1>

        <div class="question">
          Submissions are now closed. I'll transition things over so you can see each other's brackets and stuff by tomorrow.
        </div>

      </div>
    </div>
  </div>
</div>
