<div class="app-wrapper">
  <div class="group-config">
    <div class="question-container">
      <div class="f" style="margin-right: 3vw;">
        <img src="/images/logo.svg">
      </div>

      <div class="f" style="flex-grow: 1;">
        <h1>World Cup Brackets</h1>

        <form action="/create" method="POST">
          <% if @error %>
            <div class="error">
              There's already a group with that name. Pick another.
            </div>
          <% end %>

          <div class="question">
            <label>Group Name</label>
            <input name="name" type="text" required pattern="[-A-Za-z0-9_]+" value="<%= @name %>">
            <div class="hint">The name of your group. Use letters, numbers, underscores, and dashes only please. It will be part of the URL you invite others to. You can create as many groups as you like, but the names must all be unique.</div>
          </div>

          <div class="question">
            <label>Game Type</label>
            <select name="type" value="<%= @type %>" required>
              <option value=""></option>
              <option value="brackets">Brackets</option>
              <option value="goal_pools">Goal Pools</option>
            </select>
            <div class="hint">
              The type of game for this group.
              <ul>
                <li><b>Brackets:</b> Try to guess the winners of groups, then the winners of each knockout game.</li>
                <li><b>Goal Pools:</b> Pick teams from the four pots used to create the groups in the tournament. Get points for goals scored. Lose points for goals against.</li>
              </ul>
            </div>
          </div>

          <div class="question">
            <input type="submit" value="Create Group">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
