@media (max-aspect-ratio: 10/16) {
  main.flags div.country {
    width: 100%!important;
  }
}

@font-face {
  font-family: "Dusha";
  src: url("../fonts/dusha.woff2");
}

body {
  font-family: Dusha;
  margin: 0;
  padding: 0;
  background-image: url('../images/bg.jpg');
  background-size: cover;
  font-size: 3vh;
  /* overflow-x: hidden; */
}

input, button, select {
  font-size: 3vh;
  font-family: Dusha;
  display: block;
  max-width: 20rem;
}

.main-container {
  flex: 1 1 auto;
  /* flex-basis: fill; */
  /* height: 100%; */
  /* width: 100%; */
  content: "";
  position: relative;
}

.main-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100vh!important;
  width: 100vw!important;
  position: relative;
}

.nav-wrapper {
  /* flex-grow: 1; */
  overflow-y: auto;
  /* width: 100%; */
  /* position: relative; */
  padding-bottom: 0.5vh;
  min-height: 100px;
}

nav {
  font-size: 3vh;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border-bottom: 1px solid black;
  padding: 5px 0;
}

nav.titleNav {
  flex-wrap: nowrap;
}

nav.titleNav h1 {
  text-align: center;
  min-width: 10%;
  /* width: calc(100% / 3); */
}

.nobr {
  white-space: nowrap;
}

nav h2 {
  font-size: 80%;
  margin: 0;
  display: inline-block;
  vertical-align: center;
}

nav h3 {
  font-size: 80%;
  /* margin-bottom: 0.2em; */
  /* margin-top: 0.5em; */
}

nav .group {
  border-radius: 1vh;
  padding: 1vh;
  margin: 0 1vh;
  cursor: pointer;
  display: flex;
}

nav .group div {
  margin: 0;
  padding: 1vh;
  flex-grow: 1;
  font-size: 80%;
  text-transform: uppercase;
}

nav .group .group-winners {
  padding: 0 1vh;
}

nav .group .group-winners div {
  -moz-user-select: none;
  user-select: none;
  padding: 0;
}

nav .group:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

nav .group.selected {
  background-color: rgba(255, 255, 255, 0.7);
  border: 2px solid black;
}

nav .group:not(.selected) {
  padding: calc(1vh + 2px);
}

nav .team {
  margin: 0;
  font-size: 80%;
  text-transform: uppercase;
}

nav h1 {
  font-size: 90%;
  margin: 0;
  display: inline-block;
  text-align: center;
  padding: 2px;
  border-radius: 2px;
  -moz-user-select: none;
  user-select: none;
}

nav h1.loser {
  text-decoration: line-through;
  opacity: 0.5;
}

nav h1.winner {
  font-weight: bold;
  background-color: gold;
}

nav .group .team .rank {
  float: right;
}

main {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
  min-height: 1vh;
  height: 100%;
}

main > * {
  flex: 1 0 auto;
}

/* main::before {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  z-index: -2;
  content: "";
} */

.group-config {
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  margin: auto;
  padding: 1vh;
  max-width: 500px;
  min-height: 50vh;
}

div.question-container {
  position: relative;
  display: flex;
}

.error {
  color: #C00;
}

.group-config div.question {
  margin-top: 3vh;
}

.group-config h1 {
  margin: 0;
}

.group-config div.question .hint {
  font-size: 70%;
}

div.country h1 {
  position: absolute;
  top: 1vh;
  left: 1vh;
  font-size: 7vmin;
  padding: 1vh 1vw;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 1vh;
  -moz-user-select: none;
  user-select: none;
}

div.country div.rank-container {
  position: absolute;
  bottom: 2vh;
  right: 2vw;
}

div.country div.rank {
  /* background-color: rgba(255, 255, 255, 0.4); */
  background-color: rgba(255, 215, 0, 0.7);
  border-radius: 1vh;
  display: inline-block;
  text-align: center;
  width: 1em;
}

main.flags div.country {
  font-size: 7vh;
  position: relative;
  width: 50%;
  overflow: hidden;
  cursor: pointer;
}

div.flag {
  display: block;
  height: 100%;
}

div.flag::before {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  display: block;
  height: 100%;
  content: "";
  z-index: -1;
  opacity: 0.4;
  transition: opacity 0.1s ease-in;
}

div.country:hover div.flag::before {
  opacity: 1;
}

div.inner-country {
  user-select: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

div.alg::before { background-image: url('../images/flags/alg.svg'); }
div.arg::before { background-image: url('../images/flags/arg.svg'); }
div.bel::before { background-image: url('../images/flags/bel.svg'); }
div.bih::before { background-image: url('../images/flags/bos.svg'); }
div.chi::before { background-image: url('../images/flags/chi.svg'); }
div.col::before { background-image: url('../images/flags/col.svg'); }
div.cot::before { background-image: url('../images/flags/cot.svg'); }
div.cmr::before { background-image: url('../images/flags/cmr.svg'); }
div.cro::before { background-image: url('../images/flags/cro.svg'); }
div.ecu::before { background-image: url('../images/flags/ecu.svg'); }
div.egy::before { background-image: url('../images/flags/egy.svg'); }
div.esp::before { background-image: url('../images/flags/esp.svg'); }
div.ger::before { background-image: url('../images/flags/ger.svg'); }
div.gha::before { background-image: url('../images/flags/gha.svg'); }
div.gre::before { background-image: url('../images/flags/gre.svg'); }
div.hon::before { background-image: url('../images/flags/hon.svg'); }
div.irn::before { background-image: url('../images/flags/irn.svg'); }
div.isl::before { background-image: url('../images/flags/isl.svg'); }
div.ita::before { background-image: url('../images/flags/ita.svg'); }
div.kor::before { background-image: url('../images/flags/kor.svg'); }
div.ksa::before { background-image: url('../images/flags/ksa.svg'); }
div.mar::before { background-image: url('../images/flags/mar.svg'); }
div.ned::before { background-image: url('../images/flags/ned.svg'); }
div.nzl::before { background-image: url('../images/flags/nzl.svg'); }
div.pan::before { background-image: url('../images/flags/pan.svg'); }
div.par::before { background-image: url('../images/flags/par.svg'); }
div.prk::before { background-image: url('../images/flags/prk.svg'); }
div.pol::before { background-image: url('../images/flags/pol.svg'); }
div.rsa::before { background-image: url('../images/flags/rsa.svg'); }
div.rus::before { background-image: url('../images/flags/rus.svg'); }
div.sen::before { background-image: url('../images/flags/sen.svg'); }
div.slk::before { background-image: url('../images/flags/slk.svg'); }
div.slv::before { background-image: url('../images/flags/slv.svg'); }
div.swe::before { background-image: url('../images/flags/swe.svg'); }
div.tun::before { background-image: url('../images/flags/tun.svg'); }

div.aus::before { background-image: url('../images/flags/aus.svg'); }
div.bra::before { background-image: url('../images/flags/bra.svg'); }
div.crc::before { background-image: url('../images/flags/crc.svg'); }
div.den::before { background-image: url('../images/flags/den.svg'); }
div.eng::before { background-image: url('../images/flags/eng.svg'); }
div.fra::before { background-image: url('../images/flags/fra.svg'); }
div.jpn::before { background-image: url('../images/flags/jpn.svg'); }
div.mex::before { background-image: url('../images/flags/mex.svg'); }
div.nga::before { background-image: url('../images/flags/nga.svg'); }
div.per::before { background-image: url('../images/flags/per.svg'); }
div.por::before { background-image: url('../images/flags/por.svg'); }
div.srb::before { background-image: url('../images/flags/srb.svg'); }
div.sui::before { background-image: url('../images/flags/sui.svg'); }
div.usa::before { background-image: url('../images/flags/usa.svg'); }
div.uru::before { background-image: url('../images/flags/uru.svg'); }

div.unknown::before { background-image: url('../images/flags/unknown.svg'); }
